In [2]:
#1-13
#display two messages
print('Learning Python now!')
print('Python is fun')

Learning Python now!
Python is fun

In [3]:
#display two messages
  print('Learning Python now!')
print('Python is fun')

IndentationError: unexpected indent (<ipython-input-3-29879c7622e8>, line 2)

In [4]:
#display two messages
print('Learning Python now!');
print('Python is fun');

Learning Python now!
Python is fun

In [5]:
#1-15
#Convert Fahrenheit to Celsius
print('Fahrenheit 80 is Celsius degree')
print(5/9*80-32)

Fahrenheit 80 is Celsius degree
12.444444444444443

In [6]:
#Convermiles to Kilometers
print('mile 96 is Kilometer')
print(96*1.6)

mile 96 is Kilometer
153.60000000000002

In [7]:
print(format(12345,'10d'))
print(format(12,'10d'))
print(format(1234567,'10d'))

print(format(12,'10d'))
print(format(1234567,'10d'))
print(format(12345,'10d'))

print(format(1234567,'10d'))
print(format(12345,'10d'))
print(format(12,'10d'))

     12345
        12
   1234567
        12
   1234567
     12345
   1234567
     12345
        12

In [8]:
print(format(12345,'10d'),end='')
print(format(12,'10d'),end='')
print(format(1234567,'10d'))

print(format(12,'10d'),end='')
print(format(1234567,'10d'),end='')
print(format(12345,'10d'))

print(format(1234567,'10d'),end='')
print(format(12345,'10d'),end='')
print(format(12,'10d'))

     12345        12   1234567
        12   1234567     12345
   1234567     12345        12

In [9]:
#3-7.py
question1='Is your brithday in set1?\n'+\
  '1 3 5 7\n'+\
  '9 11 13 15\n'+\
  '17 19 21 23\n'+\
  '25 27 29 31\n'+\
  '\n Enter 1 for Yes and 0 for No:'
print(question1)

Is your brithday in set1?
1 3 5 7
9 11 13 15
17 19 21 23
25 27 29 31

 Enter 1 for Yes and 0 for No:

In [10]:
#3-8-1.py
print('Hello,world')
print('Hello,',end='')
print('world')
s='Hello,'+\
  'world'
print(s)

#3-8-2.py
print('Hello,world')
print('Hello,',end='')
print('world')
s='Hello,'+\
  'world'
print(s)

Hello,world
Hello,world
Hello,world
Hello,world
Hello,world
Hello,world

In [11]:
#3-16.py
num1,num2,num3=eval(input('Enter three numbers separated by commas'))
total=num1+num2+num3
average=total/3
print('total=%d,and average=%f'%(total,average))

print('total=%d,and average=%.2f'%(total,average))

Enter three numbers separated by commas100,150,170
total=420,and average=140.000000
total=420,and average=140.00

In [13]:
#3-17-1.py
radius=eval(input('Enter the radius'))
area=radius*radius*3.14159
perimeter=2*3.14159*radius
print('Area=%.2f'%(area))
print('Perimeter=%.2f'%(perimeter))

Enter the radius5
Area=78.54
Perimeter=31.42

In [14]:
#3-17-2.py
import math
radius=eval(input('Enter the radius:'))
area=radius*radius*math.pi
perimeter=2*math.pi*radius
print('Area=%.2f'%(area))

Enter the radius:5
Area=78.54

In [ ]:
#3-19.py
#input 3 integers then calculate total and average
num1,num2,num3=eval(input('Enter three numbers separated by commas:'))


#calculate total and average
total=num1+num2+num3
average=total/2

#display total and average
print('total=%d,and average=%.2f'%(total,average))

In [1]:
# ch3 1-(a)
a=100
b=200
c,d=a,b
print(c,d)
print(c)
print(d)
print()

100 200
100
200

In [16]:
# ch3 1-(b)
a=100
b=200
c,d=a,b
print(c,d)
print(c,end='')
print(d,end='***')
print('Over')

100 200
100200***Over

In [17]:
# ch3 1-(c)
a=100
b=200
c,d=a,b
print(c,d)
print(c,end='$')
print('and')
print(d,end='***')
print('Over')

100 200
100$and
200***Over

In [18]:
# ch3 2-(a)
x=100
y=3
print(x*y)
print(x/y)
print(x//y)
print(x%y)
print(x**y)
print(x**0.5)

300
33.333333333333336
33
1
1000000
10.0

In [19]:
# ch3 2-(b)
str1='Hello'
str2='Python'
str3=str1+str2
print(str3)
a=100
b=200
c=a+b
print(c)

HelloPython
300

In [20]:
# ch3 2-(c)
str1='Hello,'+\
    'Python,Let\'s learning'
str2='Python now'
str3=str1+str2
print(str3)

Hello,Python,Let's learningPython now

In [21]:
# ch3 3-(a)
a=100
b=3
a//=b
print(a)

a=100
a%=b
print(a)

a=100
a/=b
print(a)

33
1
33.333333333333336

In [22]:
# ch3 3-(b)
a=100
b=200
print(a,b)

b,a=a,b
print(a,b)

100 200
200 100

In [23]:
# ch3 3-(c)
a=100
b=200
print(a,b)

temp=a
a=b
b=temp
print(a,b)

100 200
200 100

In [24]:
# ch3 4
a=eval(input('Enter an inter:'))
b=a+100

str1=input('Enter a string:')
str2=str1+'i8'
print(str2)

Enter an inter:1
Enter a string:2
2i8

In [26]:
# ch3 5-(a)
str1='Hello,'+\
     'Python,Let\'s learning'
str2='Python now'
str3=str1+str2
print(str3)

Hello,Python,Let's learningPython now

In [30]:
# ch3 5-(b)
#Convert Fahrenheit to Ceisius
print('Fahrenheit 212 is Celsius degree')
print(5/9*212-32)

Fahrenheit 212 is Celsius degree
85.77777777777779

In [31]:
# ch3 5-(c)
#change a and b
a=100
b=200
print(a,b)

b=a
a=b
print(a,b)

100 200
100 100

In [32]:
# ch3 5-(d)
a=eval(input('Enter an integer:'))
b=a+100
print(a,b)

Enter an integer:100
100 200

In [33]:
# ch3 5-(e)
a=eval(input('Enter an integer:'))
b=a+100
print(a,b)

Enter an integer:100
100 200

In [34]:
# ch3 5-(f)
#Display two messages
a=100
b=200
print(a,b)

100 200

In [36]:
# ch3 6
41/5

8.2

In [37]:
# ch3 6
41%5

1

In [38]:
# ch3 6
50%5

0

In [39]:
# ch3 6
1%2

1

In [40]:
# ch3 6
25%3

1

In [41]:
# ch3 6
45+4*3-12

45

In [42]:
# ch3 6
45+34%3*(21*3%2)

46

In [43]:
# ch3 6
6**3-21

195

In [44]:
# ch3 6
100**0.5*2-29

-9.0

In [46]:
# ch3 7
a=10
a+=3
print(a)

13

In [47]:
# ch3 7
a=10
a*=3
print(a)

30

In [48]:
# ch3 7
a=10
a/=3
print(a)

3.3333333333333335

In [49]:
# ch3 7
a=10
a//=3
print(a)

3

In [50]:
# ch3 7
a=10
a%=3
print(a)

1

In [51]:
# ch3 8-1
#output 1
print(1,end='')
print(22,end='*****')
print(333)
print()

122*****333

In [53]:
# ch3 8-2
#output 2
print(1,end='$')
print(22,end="@@@@@")
print(333)
print('Over')

1$22@@@@@333
Over

In [56]:
# ch3 9
total=num1+num2+num3+num4+num5
average=total/5
print('total=%d,and average=%f'%(total,average))

print('total=%d,and average=%.2f'%(total,average))

total=300,and average=60.000000
total=300,and average=60.00

In [61]:
Sum=num1+num2+num3+num4+num5
average=total/5
print(num1,num2,num3,num4,num5)
print('Sum=%d,and average=%f'%(Sum,average))

20 40 60 80 100
Sum=300,and average=60.000000